<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Registro</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>¿Ya tienes una cuenta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/pages/authentication/sign-in']">Ingresar
                </a>
            </div>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="signUpForm">

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombre completo</mat-label>
                    <input
                        id="nombre"
                        class="text-white"
                        matInput
                        [formControlName]="'nombre'">
                    <mat-error *ngIf="signUpForm.get('nombre').hasError('required')">
                        El nombre es requerido
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico</mat-label>
                    <input
                        id="email"
                        class="text-white"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        El email es requerido
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Por favor, introduce una dirección de correo electrónico válida
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input
                        id="password"
                        class="text-white"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        La contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <!-- numeroIdentificacion field -->
                <mat-form-field class="w-full">
                    <mat-label>Número Identificación</mat-label>
                    <input
                        id="numeroIdentificacion"
                        class="text-white"
                        matInput
                        [formControlName]="'numeroIdentificacion'">
                </mat-form-field>

                <!-- telefono field -->
                <mat-form-field class="w-full">
                    <mat-label>Teléfono</mat-label>
                    <input
                        id="telefono"
                        class="text-white"
                        matInput
                        [formControlName]="'telefono'">
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Crea tu cuenta gratuita
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
</div>
