<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="darkantechnologies-card-front">
        <ng-content select="[darkantechnologiesCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="darkantechnologies-card-back">
        <ng-content select="[darkantechnologiesCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="darkantechnologies-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[darkantechnologiesCardExpansion]"></ng-content>
    </div>

</ng-container>
