<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="doublevpartners-card-front">
        <ng-content select="[doublevpartnersCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="doublevpartners-card-back">
        <ng-content select="[doublevpartnersCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="doublevpartners-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[doublevpartnersCardExpansion]"></ng-content>
    </div>

</ng-container>
